<h1>Listing news</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Texte</th>
    <th>Resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.titre %></td>
    <td><%= news.texte %></td>
    <td><%= news.resource %></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_news_path %>
