<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @news.titre %>
</p>

<p>
  <b>Texte:</b>
  <%= @news.texte %>
</p>

<p>
  <b>Resource:</b>
  <%= @news.resource %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
