<h1>Listing quartiers</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Coordonnees</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quartiers.each do |quartier| %>
  <tr>
    <td><%= quartier.nom %></td>
    <td><%= quartier.coordonnees %></td>
    <td><%= link_to 'Show', quartier %></td>
    <td><%= link_to 'Edit', edit_quartier_path(quartier) %></td>
    <td><%= link_to 'Destroy', quartier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quartier', new_quartier_path %>
